@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap');

#button {
	border-radius: 5px;
	border: none;
	background-color: #ccc;
	cursor: pointer;font-family: 'Cutive Mono', monospace;
}

body {
    background-image: url(../img/1234.png);
    background-position: center right;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #FFF;
    font-family: 'Syne Mono', monospace;
    font-size: calc(13px * 1.25);
    color: #000;
    margin: 0px;
    text-align: left;
}

#wrapper {
    padding-left: 58px;
}

#menu {
	max-width: 500px;
	margin:13px 3px;
}

#wrapper #box1 h3,
#wrapper #box2 h3,
#wrapper #box3 h3,
#wrapper #box4 h3,
#wrapper #box5 h3,
#wrapper #box6 h3,
#wrapper #box7 h3
{
    z-index: 999;
    font-size: 16px;
	margin:3px 3px;
    padding:3px 8px;
	width: max-content;
    float:left;
}

#wrapper #box8 h1
{
    z-index: 999;
}

div.block1,
div.block2,
div.block3,
div.block4,
div.block5,
div.block6,
div.block7 {
    position: fixed;
    background-color: rgba(0,0,0,0);
    opacity: 0;
    margin: 0px;
    padding: 10px 20px;
    right: 50px;
    left: 50px;
    top: 50px;
    bottom: 0;
    overflow-y: auto;
}

div.block8 {
	position: fixed;
	background-color: rgba(0,0,0,0);
    opacity: 0;
    margin: 0px;
    padding: 20px 50px 0px 0px;
    right: 0px;
    left: 0px;
    top: 0px;
bottom: 0;
    overflow-y: auto;
}

.buttonclose{
    max-width: 100%;
}

.buttonclose img {
    cursor: pointer;
}

#log img {
    width: auto;
    height: 23px;
	float: left; 
}

a {
    text-decoration: none;
}

a:link {
    color: #b565a7;
    transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
}

a:visited {
    color: #974989;
}

a:hover, a:active {
    color: #d2a2c9;
    transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
}

span.upd {
    font-size: calc(11px * 1.15);
    color: #999;
    font-style:italic;
}

span.nojs {
    font-family: 'Cutive Mono', monospace;
    font-size: calc(11px * 1.25);
    color: red;
}

span.cit {
    font-size: calc(11px * 1.25);
    color: #777;
}

h1, h2, h3, h4 {
    font-family: 'Syne Mono', monospace;
    position: relative;
    left: 0px;
}

h3 {
    padding-bottom: 0;
    padding-top: 3px;
    margin-bottom: 3px;
    margin-left: 3px;
    transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    color: #000;
    background-color: rgba(0,0,0,0.04);
    border:1px solid #ccc;
	border-radius: 3px;
}

h1, h2 {
    margin-left: 23px;
}

h3:hover, h1:hover {
    color: #b565a7;
    cursor: pointer;
    transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
}

h3:hover {
	background-color: rgba(0,0,0,0);
	border:1px solid transparent;

}

h1 {
    padding-top: 0;
    margin-top: 25px;
    padding-bottom: 0;
    margin-bottom: 13px;
}

h2 {
    padding-top: 0;
    margin-top: 0px;
    padding-bottom: 0;
    margin-bottom: 0px;
}

h4 {
    padding-top: 0;
    margin-top: 5px;
    margin-left: 25px;
    font-size: 14px;
}

.vspace {
    /* padding: 3px; */
    padding: 13px;
}

.list {
    margin-left: 20px;
}

ul {
    list-style-type: none;
    margin-top: 0;
    Padding-top: 8px;
    text-align: right;
}

li img {
    vertical-align: -13%;
    margin-left: 3px;
    margin-right: 3px;
}

img {
    height: 18px;
}

li {
    padding-bottom: 13px;
}

li em {
    font-weight: bold;
}

li span {
    font-family: 'Syne Mono', monospace;
    font-weight: bold;
    font-size: calc(14px * 1.25);
    color: #000;
}

li span.quote {
    font-family: 'Syne Mono', monospace;
    font-weight: normal;
    font-size: calc(13px * 1.25);
    font-style: italic;
}

.sep {
    position: fixed;
    margin-left: -23px;
    margin-top: -15px;
    width: 50px;
    height: 35px;
}

.exit {
	width: 17px;
    height: 17px;
}

a.title {
    font-weight: bold;
    font-style: italic;
}

.ligne_verticale {
    position: fixed;
    top: 5px;
    bottom: 5px;
    left: 50px;
    border-left: 1px solid #ccc;
}

.ligne_horizontal {
    position: relative;
    border-top: 1px solid #ccc;
    left: -20px;
    width: 150px;
}

li span.date {
    font-family: 'Cutive Mono', monospace;
    font-size: calc(11px * 1.25);
}

li.note {
    text-align: left;
    line-height: 80%;
    font-family: 'Cutive Mono', monospace;
    font-size: calc(11px * 1.25);
}

.lynx {display: none;}


.Horizontal_Line {
    font-size:6pt;
    margin-top:8mm;
    margin-bottom:0mm;
    padding:0mm;
    border-left-style:none;
    border-right-style:none;
    border-top-style:none;
    border-bottom-width:0.0399cm;
    border-bottom-style:double;
    border-bottom-color:#808080;
}

p.resume-page {
    text-decoration:underline;
    font-size:19px;
}  

p.resume-link {
    margin-left:30px;
    font-family: 'Syne Mono', monospace;
    font-size:18px;
}  

p.resume-name {
    text-align:center ! important;
    font-family: 'Syne Mono', monospace;
    font-size:33px;
    font-weight:bold;
}  

p.resume-subtitle {
    text-align:center ! important;
    font-family: 'Syne Mono', monospace;
    font-size:23px;
    margin-bottom:70px;
}  

div.resume-head {
    margin-left:30px;
}  

p.quote {
    margin-left:30px;
}  

p.resume-title {
    text-decoration:underline;
    font-weight:bold;
    margin-top:35px;
}  

div.par {
    margin-bottom:20px;
}  

p.footnote {
    font-size:13px;
}  

span.link {
    font-family: 'Syne Mono', monospace;
    font-weight:normal;
    font-size:15px;
}
